table {
    border-collapse: collapse;
}
tr th,td {
    width: 20%;
    height: 25px;
    border: 1px solid black;
    padding: 5px;
}
#yellow {
    background-color: yellow;
}
#sivo {
    background-color:turquoise;
}
#farbanje {
    background-color: yellowgreen;
}
#prva tr:nth-child(odd) {
    font-style: italic;
}
#druga tr:nth-child(even):hover {
    background-color: yellow;
}
#druga tr:nth-child(3) {
    color: blue;
}
