@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-image: url(../background/jungle.jpg);
    background-repeat: no-repeat;
}        
header {
    height: 100px;
    background-image: linear-gradient(yellow, green);
    text-align: center;
}
h1 {
    padding: 1%;
    font-size: 50px;
    color: royalblue;
    pointer-events: none;
    font-family: "Black And White Picture", sans-serif;
    letter-spacing: 0.5cm;
}
nav {
    margin-top: 2.5%;
    margin-left: 40%;
    width: 20%;
    display: flex;
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 3s;
}
.tezina {
    width: 25%;
    height: 25px;
    margin-right: 2%;
    text-align: center;
    background-color: yellowgreen;
}
a {
    color: royalblue;
    text-decoration: none;
    font-size: 25px;
}
a:hover {
    color:green;
    cursor:pointer
}
form {
    position: absolute;
    top: 50%;
    left: 37%;
    z-index: 2;
    width: 25%;
    border: 1px solid green;
    text-align: center;
    background-color: yellowgreen;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 3s;
}
label {
    margin-right: 1%;
    font-weight: bold;
    font-size: 20px;
    color: royalblue;
}
input {
    font-size: 20px;
}
button {
    margin-left: 1%;
    font-size: 15px;
    font-weight: bold;
    background-color: greenyellow;
    color: royalblue;
    cursor:pointer;
}
@keyframes animacija {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1400%);
    }
}
@keyframes animacijaDva {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*Mobile*/
[class*="col-"]{
	width: 100%;
	padding: 15px;
}
/*Tablet*/
@media only screen and (min-width: 650px){
    [class*="col-t-"]{
        float: left;
        padding: 15px;
    }
    .col-t-1{
        width: 8.33%;
    }
    .col-t-2{
        width: 16.66%;
    }
    .col-t-3{
        width: 25%;
    }
    .col-t-4{
        width: 33.33%;
    }
    .col-t-5{
        width: 41.66%;
    }
    .col-t-6{
        width: 50%;
    }
    .col-t-7{
        width: 58.33%;
    }
    .col-t-8{
        width: 66.66%;
    }
    .col-t-9{
        width: 75%;
    }
    .col-t-10{
        width: 83.33%;
    }
    .col-t-11{
        width: 91.66%;
    }
    .col-t-12{
        width: 100%;
    }
}
/*Desktop*/
@media only screen and (min-width: 950px){
    [class*="col-"]{
        float: left;
        padding: 15px;
    }
    .col-1{
        width: 8.33%;
    }
    .col-2{
        width: 16.66%;
    }
    .col-3{
        width: 25%;
    }
    .col-4{
        width: 33.33%;
    }
    .col-5{
        width: 41.66%;
    }
    .col-6{
        width: 50%;
    }
    .col-7{
        width: 58.33%;
    }
    .col-8{
        width: 66.66%;
    }
    .col-9{
        width: 75%;
    }
    .col-10{
        width: 83.33%;
    }
    .col-11{
        width: 91.66%;
    }
    .col-12{
        width: 100%;
    }
}