* {
    margin: 0;
    padding: 0;
}
#ekran {
    width: 100%;
    height: 70px;
    background-color: peachpuff;
    color: black;
    font-size: 30px;
    text-align: right;
}
.dugme {
    width: 80px;
    height: 70px;
    background-color: silver;
    font-size: 25px;
}